doctype html
form(action='https://uat.acs.fraud.eu.elavonaws.com/acs1/VI' method='post')
  label(for='paReq') PaReq:
  br
  input#paReq(type='text' name='PaReq' size=180)
  br
  label(for='termUrl') TermURL:
  br
  input#termUrl(type='text' name='TermUrl' size=180)
  br
  label(for='md') MD:
  br
  input#md(type='text' name='MD' size=180)
  br
  br
  input(type='submit' value='Submit')
